<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
    <p>Usuário LOGADO</p>
    <%= current_user.inspect %>
<% else %>
    <p>Usuário NÃO LOGADO</p>
<% end %>

<% if admin_signed_in? %>
    <p>Administrador LOGADO</p>
    <%= current_admin.inspect%>
<% else %>
    <p>Administrador NÃO LOGADO</p>
<% end %>
